apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: hello-app
  template:
    metadata:
      labels:
        app: hello-app
    spec:
      containers:
      - name: hello-app
        image: 429722559165.dkr.ecr.us-east-1.amazonaws.com/hello-app:latest
        ports:
        - containerPort: 80
